@font-face {
  font-family: FreePixel;
  src: url(fonts/FreePixel.ttf);
}

@font-face {
  font-family: Retro-Computer;
  src: url(fonts/Petyka-Retro-Computer.ttf);
}

html {
  font-size:62.5%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: FreePixel;
  font-size: 1.9rem;
  margin: auto;

  color: #FFF;
  background: #1D1D1D;
  height: 100%;
  margin: 0 2.5%;
}

a {
  color: #FFF;
}

a:hover {
  font-weight: 600;
}

h1,h2,h3,h4{ font-family: Retro-Computer; }

button {
  background-color: #FFF;
  border: 2px solid #1D1D1D;
  font-family: Retro-Computer;
  transition: border-color 0.3s background-color 0.3s, color 0.25s;
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: #1D1D1D;
  border-color: white;
  color: white;
}

button:focus { outline: none; }

canvas {
  margin: 2rem auto;
  display: inline-block;
  border: solid #fff 2px;
}

.button-party {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.tab {
  display: none;
}

.tab.small {
  max-width: 400px;
}

.tab.active {
  display: block;
  margin: auto;
}

.tab h1 {
  margin: 0;
  padding: 0;
}

.tab button {
  display: inline-block;
  text-align: center;
}

#main {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#devices {
  text-align: center;
  list-style-position: inside;
  padding: 0;
  margin: 2rem 0;
}
#devices li {
  font-size: 3.5rem;
}
#devices li:hover {
  font-weight: bold;
  text-decoration: underline;
}

p.error {
  text-align: center;
  text-decoration: underline;
}

.tab-img {
  max-width: 1000px;
  max-height: 110px;
  padding: 0.5rem;
  display: block;
  margin: 0 auto;
}
.tab-img.opz {
  width: 90%;
}
.tab-img.tetris {
  max-height: 100px;
  image-rendering: pixelated;
}

#game {
  height: 74%;
  text-align: center;
}

#game-buttons.active {
  display: block;
}

#game-buttons {
  display: none;
  position: absolute;
  width: 100%;
  /* height: 100%; */
  top: 40%;
  left: 0;
  text-align: center;
}

#game-buttons > * {
  display: inline-block;
}

#controls {
  width: 25%;
}
#controls .opz {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  max-height: 200px;

  padding: 5%;
}

#panel {
  margin: 2rem 2rem;
  display: inline-block;
  position: fixed;
}

#opz-settings {
  margin: 1rem 4rem;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

#opz-settings.active {
  display: block;
}

#opz-settings .title {
  text-align: center;
  text-decoration: underline;
}

#opz-settings-settings {
  display: none;
}
#opz-settings-settings.active {
  display: block;
}

ul#tracks {
  padding: 0;
  list-style-type: none
}

#tracks > li {
  margin: 1rem;
  cursor: pointer;
}

#tracks > li > * {
  display: inline-block;
  vertical-align: middle;
}

#tracks .box {
  width: 20px;
  height: 20px;
  border: solid 2px #FFF;
  margin: auto 1rem;
}

#tracks .active .box {
  background-color: #fde002;
}

#github {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  #main {
    flex-wrap: unset;
  }

  .desktop, .tab button.desktop {
    display: none;
  }

  #button-party .mobile {
    display: inline-block
  }
}
